$font-page-text: 14px;
$font-page-normal: 18px;
$font-head: 21px;
$line-height: 26px;
$page-font: "PT Sans", "Arial", sans-serif;
$color-page: white;
$color-button: #72b4d3;
$color-baground: #f2f2f2;
